p
  = "Vous avez montré votre intérêt pour la performance #{@booking.show.title}, malheureusement, le performeur a refusé la prestation. Cela peut être en raison de conflit d’horaire, de surréservation ou une raison personnelle. Mais ne vous inquiétez pas, nous pouvons toujours vous aider à trouver la performance parfaite pour votre soirée! Envoyez nous un courriel à help@enapparteparis.fr ou cliquez ici (link to step 2 of Booking flow for user) pour rechercher une nouveau performeur! Tchao!"
