<% if object.pictures %>
  <% object.pictures.each do |picture| %>
    <div class="image-view" id="<%= picture.id %>">
      <%= link_to(picture.image.url, target: '_blank') do %>
        <%= image_tag(picture.image.url(:thumb)) %>
      <% end %>
      <% if page == 'edit' %>
        <p align="center">
          <%= link_to "Delete", picture_path(id: picture.id), method: :delete, remote: true, data: {confirm: 'Are you sure?'} %>
        </p>
      <% end %>
    </div>
  <% end %>
<% end %>