.thumbnail.cover-photo
  cursor: pointer !important

.show-search
  .caption
    height: 70px
    h4
      height: 15px
    img.user
      width: 54px
      position: absolute
      bottom: 54px
      right: 30px
      border: 3px solid white
      border-radius: 40px

    .rating
      float: left
      margin-right: 10px

    .price
      position: absolute
      top: 0px
      right: 30px
      font-size: 16px
      padding: 5px 15px 5px
      color: white
      background-color: rgba(0, 0, 0, .5)
      border-bottom-left-radius: 10px
      border-bottom-right-radius: 10px

