<div class="footer" style="position:relative;z-index:100">
    <div class="container">
        <div class="pt100 hidden-xs"></div>
        <div class="row">
            <div class="col-md-6 col-sm-6 widget">
                <h4 class="title hidden-xs">Plus d’infos</h4>
                <div class="row">
                    <div class="col-xs-2"></div>
                    <ul class="col-xs-4 menu">
                        <li><a href="">C.G.U.</a></li>
                    </ul>
                    <ul class="col-xs-4 menu">
                        <li><a href="">Questions Fréquentes</a></li>
                    </ul>
                    <div class="col-xs-2"></div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 widget">
                <h4 class="title hidden-xs">Devenir un performeur</h4>
                <div class="row">
                    <div class="col-xs-2"></div>
                    <ul class="col-xs-4 menu">
                        <li><a href="">Comment ca marche</a></li>
                    </ul>
                    <ul class="col-xs-4 menu">
                        <li><a href="">Pourquoi</a></li>
                    </ul>
                    <div class="col-xs-2"></div>
                </div>
            </div>
        </div>
        <hr style="border: 1px #2c2c34 solid">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div id="copyright">
                    <p style="color: #f6f6f6">Company Name &nbsp;&nbsp; &copy; 2016</p>
                </div>
            </div>
        </div>
    </div>
</div>
