.footer[style="position:relative;z-index:100"]
  .container
    .pt100.hidden-xs
    .row
      .col-md-6.col-sm-6.widget
        h4.title.hidden-xs
          | Plus d’infos
        .row
          .col-xs-2
          ul.col-xs-4.menu
            li
              a[href=""]
                | C.G.U.
          ul.col-xs-4.menu
            li
              a[href=""]
                | Questions Fréquentes
          .col-xs-2
      .col-md-6.col-sm-6.widget
        h4.title.hidden-xs
          | Devenir un performeur
        .row
          .col-xs-2
          ul.col-xs-4.menu
            li
              a[href=""]
                | Comment ca marche
          ul.col-xs-4.menu
            li
              a[href=""]
                | Pourquoi
          .col-xs-2
    hr[style="border: 1px #2c2c34 solid"]
    .row
      .col-md-12.col-sm-12
        #copyright
          p[style="color: #f6f6f6"]
            | Company Name    © 2016
