.flash-messages[class=(defined?( flash_class ) ? flash_class : '')]
  .row
    .col-sm-8.col-sm-offset-2
      - # Rails flash messages styled for Bootstrap 3.0
      - flash.each do |name, msg|
        - if msg.is_a?(String)
          .alert[class="alert-#{name.to_s == 'notice' ? 'success' : 'danger'}"]
            button.close[type="button" data-dismiss="alert" aria-hidden="true"]
              | ×
            = content_tag :div, msg, :id => "flash_#{name}"

.flash-messages[ng-if="flash"]
  .row
    .col-sm-8.col-sm-offset-2
      .alert[ng-class="{ 'alert-info': flash.notice }" ng-if="flash.notice"]
        button.close[type="button" data-dismiss="alert" aria-hidden="true"]
          | ×
        div[compile-html="flash.notice"]

